[package]
name = "fusebox"
version = "0.1.0"
edition = "2021"
description = "Mostly safe and sound append-only collection of trait objects."
repository = "https://github.com/JohnDowson/fusebox"
license-file = "LICENSE"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
